.dataContainer{
    display: flex;
    justify-content: left;
}
.dataItem{
    border: 1px solid black;
    text-align: center;
    padding: 4px 10px;
    font-size: 14px;
}
.TableContainer{
    padding-top: 3%;
    margin-left: 20%;
}